openapi: 3.0.1

info:
  title: Harvest Forecast API
  version: v0.1.0
  contact:
    name: Harvest API Support
    email: support@harvestapp.com
    url: https://www.getharvest.com/contact

externalDocs:
  description: "Forecast docs: getharvest.com/forecast"
  url: https://www.getharvest.com/forecast

servers:
  - url: https://api.forecastapp.com

security:
  - bearerAuth: [] # apply bearer auth to all endpoints

tags:
  - name: assignments
    description: |
      Create, Update, and Delete an Assignment, and List all Assignments
  - name: clients
    description: Read a Client, and list all Clients
  - name: milestones
    description: List all Milestones
  - name: people
    description: Read a Person, and list all People
  - name: placeholders
    description: List all Placeholders
  - name: projects
    description: Read a Project, list all Projects, and push to Harvest
  - name: roles
    description: List all Roles
  - name: whoami
    description: Get info about the currently authenticated user

paths:
  # whoami
  /whoami:
    get:
      summary: Get info about the currently authenticated user
      operationId: whoami
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/whoami.yaml#/components/schemas/whoami_response"
      tags:
        - whoami

  # people
  /people:
    get:
      summary: List all People
      operationId: listPeople
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/people.yaml#/components/schemas/WrappedArrayOfPeople"
      tags:
        - people
  /people/{personId}:
    get:
      summary: Read a Person
      operationId: readPerson
      parameters:
        - name: personId
          in: path
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "404":
          description: |
            Not Found; The requested Person could not be found.
            (You may not be authorized to read this Person).
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/4xx_5xx_generic_error"
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/people.yaml#/components/schemas/WrappedPerson"
      tags:
        - people

  # projects
  /projects:
    get:
      summary: List all Projects
      operationId: listProjects
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/projects.yaml#/components/schemas/WrappedArrayOfProjects"
      tags:
        - projects
  /projects/{projectId}:
    get:
      summary: Read a single Project
      operationId: readProject
      parameters:
        - name: projectId
          in: path
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "400":
          description: |
            Not Found; The requested Project could not be found.
            (You may not be authorized to read this Project).
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/4xx_5xx_generic_error"
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/projects.yaml#/components/schemas/WrappedProject"
      tags:
        - projects

  # clients
  /clients:
    get:
      summary: Lias all clients
      operationId: listClients
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/clients.yaml#/components/schemas/WrappedArrayOfClients"
      tags:
        - clients
  /clients/{clientId}:
    get:
      summary: Read a Client
      operationId: readClient
      parameters:
        - name: clientId
          in: path
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "400":
          description: |
            Not Found; The requested Client could not be found.
            (You may not be authorized to read this Client).
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/4xx_5xx_generic_error"
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/clients.yaml#/components/schemas/WrappedClient"
      tags:
        - clients

  # roles
  /roles:
    get:
      summary: List all Roles
      operationId: listRoles
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/roles.yaml#/components/schemas/WrappedArrayOfRoles"
      tags:
        - roles

  # placeholders
  /placeholders:
    get:
      summary: List all Placeholders
      operationId: listPlaceholders
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/placeholders.yaml#/components/schemas/WrappedArrayOfPlaceholders"
      tags:
        - placeholders

  # assignments
  /assignments:
    get:
      summary: List all Assignments
      operationId: listAssignments
      parameters:
        # headers
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        # query params
        - name: start_date
          in: query
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/date"
          required: false
        - name: state
          in: query
          schema:
            type: string
            example: "active"
          required: false
        - name: project_id
          in: query
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: false
        - name: repeated_assignment_set_id
          in: query
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/assignments.yaml#/components/schemas/WrappedArrayOfAssignments"
      tags:
        - assignments
    post:
      summary: Create an Assignment
      operationId: createAssignment
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas/assignments.yaml#/components/schemas/assignment_create_body"
        required: false
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/assignments.yaml#/components/schemas/WrappedAssignment"
      tags:
        - assignments
  /assignments/{assignmentId}:
    patch:
      summary: Update an Assignment
      operationId: updateAssignment
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        - name: assignmentId
          in: path
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      requestBody:
        description: |
          A partial Assignment. Fields can be omitted if they do not need to be updated.
        content:
          application/json:
            schema:
              $ref: "./schemas/assignments.yaml#/components/schemas/assignment_create_body"
        required: true
      responses:
        "400":
          description: |
            Not Found; The requested Assignment could not be found.
            (You may not be authorized to read this Assignment).
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/4xx_5xx_generic_error"
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "422":
          description: |
            Unprocessable Entity; The request body is invlaid. The error message will
            specify which fields are invalid.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/422_unprocessable_entity"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/assignments.yaml#/components/schemas/WrappedAssignment"
      tags:
        - assignments
    delete:
      summary: Delete an Assignment
      operationId: deleteAssignment
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        - name: assignmentId
          in: path
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
      responses:
        "400":
          description: |
            Not Found; The requested Assignment could not be found.
            (You may not be authorized to read this Assignment).
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/4xx_5xx_generic_error"
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "204":
          description: Success! The Assignment has been deleted.
      tags:
        - assignments

  # milestones
  /milestones:
    get:
      summary: List all Milestones
      operationId: listMilestones
      parameters:
        - name: forecast-account-id
          in: header
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/id"
          required: true
        - name: end_date
          in: query
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/date"
          required: false
        - name: start_date
          in: query
          schema:
            $ref: "./schemas/_generic.yaml#/components/schemas/date"
          required: false
      responses:
        "401":
          description: |
            Unauthorized; One or both of the Authorization (bearer token) or
            forecast-account-id headers was bad, or rejected.
          content:
            application/json:
              schema:
                $ref: "./schemas/_errors.yaml#/components/schemas/401_unauthorized_error"
        "200":
          description: Success!
          content:
            application/json:
              schema:
                $ref: "./schemas/milestones.yaml#/components/schemas/WrappedArrayOfMilestones"
      tags:
        - milestones

components:
  securitySchemes:
    bearerAuth:
      description: |
        This API uses OAuth2, with the Authorization Code flow, to authenticate.
        See the docs at https://help.getharvest.com/api-v2/authentication-api/authentication/authentication/
      type: http
      scheme: bearer
      bearerFormat: JWT
